#root {
  --primary-color: #794b38;
  --border-radius: 25px;
}

@media (prefers-color-scheme: dark) {
  #root {
    --primary-color: #d66639;
  }
}

@font-face {
  font-family: WC2022;
  src: url(./assets/wc2022/WC2022-Medium.otf);
}

@font-face {
  font-family: WC2022;
  src: url(./assets/wc2022/WC2022-Medium.otf);
  font-weight: 400;
}

@font-face {
  font-family: WC2022;
  src: url(./assets/wc2022/WC2022-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SanFrancisco;
  src: url(./assets/sf/sf-pro-text-regular.ttf);
}

@font-face {
  font-family: SanFrancisco;
  src: url(./assets/sf/sf-pro-text-medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: SanFrancisco;
  src: url(./assets/sf/sf-pro-text-bold.otf);
  font-weight: bold;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font: 10pt SanFrancisco;
  padding: 0;
  margin: 0;
  background-color: #eaecef;
  color: #555;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background-color: #111;
  }
}

a {
  transition: all 0.2s ease;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
}

a:hover {
  color: orangered;
  border-bottom: 1px solid orangered;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: WC2022;
  padding: 0;
  margin: 0 0 10px 0;
  color: #222;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 10px;
}

h6 {
  font-size: 10px;
}

@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary-color);
  }
}

#app {
  padding: 15px;
  margin: 0 auto;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

#container > section {
  background-color: #fff;
  box-shadow: 0 15px 20px #0001;
  border-radius: 15px;
  margin-bottom: 15px;
}

@media (prefers-color-scheme: dark) {
  #container > section {
    background-color: #222;
  }
}

section > .inner {
  padding: 25px;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline .row {
  position: relative;
  border-left: 1px dashed #ccc;
  padding: 0 20px 40px;
}

.timeline .row > * {
  margin: 0;
}

.timeline .row svg {
  height: 14px;
  width: 14px;
  position: absolute;
  background-color: #fff;
  border-radius: 100px;
  top: 0;
  left: -7.2px;
}

.timeline .row circle {
  fill: transparent;
  stroke: #555;
  stroke-width: 1.5;
}

.timeline .row svg .dashed {
  stroke-dasharray: 2, 5;
  stroke-linecap: round;
}

@media (prefers-color-scheme: dark) {
  .timeline .row {
    border-color: #444;
  }
  .timeline .row svg {
    background-color: #222;
  }
}
