#root {
  --primary-color: #663399;
  --border-radius: 25px;
}

@font-face {
  font-family: WC2022;
  src: url(./assets/ciwc2022/WC2022-Medium.otf);
  font-weight: 400;
}

@font-face {
  font-family: WC2022;
  src: url(./assets/wc2022/WC2022-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: SanFrancisco;
  src: url(./assets/sf/sf-pro-text-regular.ttf);
}

@font-face {
  font-family: SanFrancisco;
  src: url(./assets/sf/sf-pro-text-medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: SanFrancisco;
  src: url(./assets/sf/sf-pro-text-bold.otf);
  font-weight: bold;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font: 10pt SanFrancisco;
  padding: 0;
  margin: 0;
  background-color: #f1f3f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: WC2022;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 20pt;
}

#app {
  padding: 30px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
    #app {
      padding: 10px;
    }
}

#container {
  max-width: 900px;
  height: 2000px;
  margin: 0 auto;
}

#container > section {
  background-color: #fff;
  box-shadow: 0 15px 20px #0001;
  border-radius: 20px;
  margin-bottom: 20px;
}

section > .inner {
  padding: 20px;
}
